{% if section.settings.enable_age_verification %}
  {% capture ageverificationpopup %}
      {% if section.settings.age_logo_img != blank %}
         <div class="popup-logo">
          	 <img
                    srcset="{{ section.settings.age_logo_img | image_url: width: 200 }} 1x, {{ section.settings.age_logo_img | image_url: width: 200 }} 2x"
                    src="{{ section.settings.age_logo_img | image_url: width:200 }}"
                    loading="lazy"
                    aspect-ratio="{{ section.settings.age_logo_img.aspect_ratio }}"
                    width="200"
                    height="{{ 200 | divided_by:section.settings.age_logo_img.aspect_ratio }}"
                    alt="{{ section.settings.age_logo_img.alt | default: shop.name | escape }}"
                  >
        </div>
      {% endif %}
    <div class="age-verification-popup-wrapper">
    
      {% if section.settings.age_verification_heading != blank %}
        <div class="popup-heading">
            <h3 class="popup-title">{{ section.settings.age_verification_heading }}</h3>
        </div>
    {% endif %}
    {% if section.settings.age_verification_content != blank %}
      <div class="popup-descption">
         {{ section.settings.age_verification_content }}
      </div>
    {% endif %}
    {% if section.settings.approve_text != blank or section.settings.decline_text != blank %}
      <div class="popup-btns">
      {% if section.settings.decline_text != blank %}
         <button type="button" class="btn" data-decline-age-button><span>{{ section.settings.decline_text }}</span></button>
      {% endif %}
      {% if section.settings.approve_text != blank %}
           <button type="button" class="btn fill-btn" data-approve-age-button><span>{{ section.settings.approve_text }}</span></button>   
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="hidden age-decline-message" data-decline-container>
          <h3 class="age-verification-heading">{{ section.settings.decline_heading }}</h3>
          <div class="age-verification-description">{{ section.settings.decline_subheading }}</div>
          <div class="age-verifiction-button">
              <button class="btn fill-btn" data-age-back-button><span>{{ section.settings.age_decline_button_text }}</span></button>
          </div> 
	</div>
    
    {% comment %}
     {% if section.section.settings.show_social %}
          <div class="social-icons-wrapper">
                {% render 'social-media' %}
          </div>
      {% endif %}
    {% endcomment %}
    
    
{% endcapture %}
  <age-verification
    data-ageverification="true"
    data-model-main-body
    data-expiry="{{ section.settings.agepopup_cookie_set }}"
  >
    <div
      id="ageverification-popup"
      class="age-verification-popup modal-drawer-panel"
      data-model-main-body
    >
      <div class="blur-layer-bg"></div>
      <div class="modal-drawer-card">
        <div class="align-center modal-drawer-inner">
          <div class="modal-drawer--body" data-model-content-wrapper>
            <div class="modal-content-box">
              {{ ageverificationpopup }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </age-verification>
  <script src="{{ 'age-verification.js' | asset_url }}" defer></script>
{% endif %}

<style>
      .side-drawer-panel,
      .modal-drawer-panel {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    pointer-events: none;
    cursor: none;
  }

  .side-drawer-panel.active,
  .modal-drawer-panel.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    cursor: auto;
  }

  .blur-layer-bg {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease;
    pointer-events: none;
    background: rgb(var(--sideLayerBg), 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    cursor: none;
  }

  .modal-drawer-panel.active .blur-layer-bg
  {
    opacity: 1;
    pointer-events: all;
  }

  .side-drawer-modal {
    position: relative;
    width: 100%;
    background: var(--bodyColor);
    max-height: 100%;
    height: 100%;
    max-width: 680px;
    transition: 0.6s ease;
    margin-left: auto;
    transform: translate(100%);
    cursor: auto;
  }


  .modal-drawer-panel.active .modal-drawer-card {
    transform: scale(1) translate(0) !important;
  }

  .side-drawer-modal-head {
    padding: 10px 32px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
  }

  .modal-drawer-inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: var(--bodyColor);
    color: var(--bodyTextColor);
    overflow: hidden;
    overflow-y: auto;
    cursor: auto;
  }

  .quickview .modal-drawer-inner {
    padding: 12px;
    border-radius: var(--boxRadius);
  }

  .size-chart-popup .modal-drawer-inner {
    border-radius: var(--boxRadius);
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--bodyTextColor);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 11px;
    border-radius: 50%;
  }

  .close-btn:hover svg line,
  .facet-close-btn:hover svg line,
  .filter-remove:hover svg line,
  .search-close:hover svg line {
    -webkit-animation: cross 0.5s ease-in-out forwards;
    animation: cross 0.5s ease-in-out forwards;
  }

  .close-btn:hover svg path,
  .facet-close-btn:hover svg path,
  .filter-remove:hover svg path,
  .search-close:hover svg path {
    -webkit-animation: cross 0.5s ease-in-out forwards;
    animation: cross 0.5s ease-in-out forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  @keyframes cross {
    0%,
    100% {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }

    42% {
      -webkit-clip-path: inset(0 0 0 100%);
      clip-path: inset(0 0 0 100%);
    }

    43% {
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: inset(0 100% 0 0);
    }
  }

  .close-btn .close-icon {
    width: 100%;
    height: 100%;
  }

  .modal-drawer-inner .close-btn {
    top: 0px;
    right: 0px;
  }

  .moving-cursor {
    background-color: var(--bodyColor);
    position: fixed;
    top: var(--mouse-top);
    left: var(--mouse-left);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: opacity 0.2s ease-in-out;
    will-change: height, width;
    cursor: none;
    opacity: 0;
  }

  .moving-cursor svg {
    width: 20px;
    height: 20px;
  }

  .blur-layer-bg:hover ~ .moving-cursor {
    opacity: 1;
  }

  .side-drawer-modal-head .close-btn {
    position: static;
  }

  .side-drawer-modal-title {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0;
  }

  .side-drawer-modal-title span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    flex: 0 0 auto;
  }

  .modal-drawer--body,
  .side-drawer-modal-body {
    padding: 25px;
    height: calc(100% - 0px);
    max-height: 100%;
    width: 100%;
  }


  .modal-drawer-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--boxRadius);
    width: 100%;
    max-width: 960px;
    pointer-events: none;
    margin: 0 auto;
    position: relative;
    max-height: calc(100vh - 10rem);
    overflow: hidden;
    transform: scale(0.95);
    transition: transform 0.4s, all 0.4s ease-out;
    will-change: transform;
  }

  .popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    z-index: 9;
  }

  .popup-wrapper.active,
  .popup-wrapper.active .blur-layer-bg {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .popup-content-box {
    border: 1px solid var(--bodyTextColor);
    padding: 50px;
  }

  .popup-content-box > div:not(:last-child) {
    margin-bottom: 30px;
  }

  .popup-inner-card .popup-content-box .popup-heading {
    margin-bottom: 13px;
  }

  .popup-inner-card .social-icons-wrapper {
    display: inline-flex;
  }

  .newsletter-popup .close-btn {
    top: 26px;
    right: 26px;
  }

  .sign-popup-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
    border: 1px solid var(--borderColor);
    border-radius: var(--boxRadius);
    overflow: hidden;
  }

  .age-verification-popup .blur-layer-bg {
    cursor: auto;
  }

  .age-verification-popup .modal-drawer-card {
    max-width: 730px;
  }

  .age-verification-popup .modal-drawer--body {
    height: 100%;
    padding: 15px;
  }

  .modal-content-box {
    border: 1px solid var(--borderColor);
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-logo {
    width: 100%;
    margin-bottom: 50px;
  }

  .age-verification-popup-wrapper .popup-title {
    padding: 0;
  }

  .age-verification-popup-wrapper > div:not(:last-child),
  .age-verification-heading,
  .age-verification-description {
    margin-bottom: 18px;
  }
</style>
