{%- style -%}
{% if template == 'product' and section.settings.enable_product_page  %}
  .breadcrumbs{
    display: block;
  }
{% else %}
  .breadcrumbs{
    display: none;
  }
{% endif %}

{% if section.settings.enable_complete_site %}
  .breadcrumbs{
    display: block;
  }
{% endif %}

{% if template == 'collection' and section.settings.enable_collection_page  %}
  .breadcrumbs{
    display: block;
  }
{% endif %}

:root  {
  --svg_fill: {{ section.settings.breadcrumb_text_color }};
}

.home-icon-container {
  display: inline-block;
  margin-right: 4px;
  vertical-align: sub;
}

.breadcrumbs {
  padding: 1rem 5rem;
  color: {{ section.settings.breadcrumb_text_color }};
  background-color: {{ section.settings.breadcrumb_bg_color }};
}

.breadcrumbs ol {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 15px;
  color: inherit;
}

{%- if section.settings.breadcrumb_accent_color_bool -%}
  .breadcrumbs a:last-of-type {
    color: {{ section.settings.breadcrumb_accent_color }} !important;
  }
{%- endif -%}

.breadcrumb-delimeter:not(:last-child):after {
  {%- case section.settings.breadcrumb_delimeter -%}
    {%- when "angle_right" -%}
      content: "›";
      font-size: 18px;
    {%- when "slash" -%}
      content: "/";
      font-size: 16px;
    {%- when "arrow_right" -%}
      content: "➤";
      font-size: 15px;
    {%- when "squiggle_arrow" -%}
      content: "\27FF";
      font-size: 25px;
    {%- when "right_long" -%}
      content: "\279E";
      font-size: 18px;
      transform: translateY(5%);
    {%- when "double_right" -%}
      content: "\00BB";
      font-size: 20px;
    {%- when "diamond_arrow_head" -%}
      content: "⤞";
      font-size: 25px;
      transform: translateY(5%);
    {%- when "heavy_angle_right" -%}
      content: "\276F";
      font-size: 18px;
      transform: translateY(5%);
  {%- else -%}

  {%- endcase -%}
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.50rem;
  speak: none;
}

.breadcrumbs [aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}
{%- endstyle -%}

<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Contact</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {%- case template.name -%}
      {%- when 'article' -%}
        {%- for link in linklists['main-menu'].links -%}
          {%- if link.url == blog.url -%}
            <li class="breadcrumb-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% break %}
          {%- endif -%}
        {%- endfor -%}
        <li class="breadcrumb-item active text-white">{{ article.title }}</li>
      {%- when 'product' -%}
        {%- capture product_url_string -%}
          {%- for collection in product.collections -%}
            {{ collection.url }}|
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign object_url_string = product_url_string | append: product.url -%}
        {%- assign object_urls = object_url_string | split: '|' -%}
        {%- capture linklist_titles_str -%}
          {%- for linklist in linklists -%}
            {{ linklist.title | handleize }}|
          {%- endfor -%}
        {%- endcapture -%}
        {%- assign str_size = linklist_titles_str | size | minus: 1 -%}
        {%- assign linklist_titles_str = linklist_titles_str | slice: 0, str_size -%}
        {%- assign linklist_titles = linklist_titles_str | split: '|' -%}

        {%- assign level = 1 -%}
        {%- for link in linklists['main-menu'].links -%}
          {%- assign link_handle = link.title | handle -%}
          {%- assign link_titles = link_titles | append: link.title | append: '|' -%}
          {%- assign link_urls = link_urls | append: link.url | append: '|' -%}
          {%- assign link_levels = link_levels | append: level | append: '|' -%}
          {%- assign link_parents = link_parents | append: 'main-menu' | append: '|' -%}
          {%- assign link_handles = link_handles | append: link_handle | append: '|' -%}

          {%- if linklist_titles contains link_handle -%}
            {%- for clink in linklists[link_handle].links -%}
              {%- if forloop.first == true -%}
                {%- assign level = level | plus: 1 -%}
              {%- endif -%}
              {%- assign clink_handle = clink.title | handle -%}
              {%- assign link_titles = link_titles | append: clink.title | append: '|' -%}
              {%- assign link_urls = link_urls | append: clink.url | append: '|' -%}
              {%- assign link_levels = link_levels | append: level | append: '|' -%}
              {%- assign link_parents = link_parents | append: link_handle | append: '|' -%}
              {%- assign link_handles = link_handles | append: clink_handle | append: '|' -%}

              {%- if linklist_titles contains clink_handle -%}
                {%- for gclink in linklists[clink_handle].links -%}
                  {%- if forloop.first == true -%}
                    {%- assign level = level | plus: 1 -%}
                  {%- endif -%}

                  {%- assign gclink_handle = gclink.title | handle -%}
                  {%- assign link_titles = link_titles | append: gclink.title | append: '|' -%}
                  {%- assign link_urls = link_urls | append: gclink.url | append: '|' -%}
                  {%- assign link_levels = link_levels | append: level | append: '|' -%}
                  {%- assign link_parents = link_parents | append: gclink_handle | append: '|' -%}
                  {%- assign link_handles = link_handles | append: gclink_handle | append: '|' -%}

                  {%- if forloop.last == true -%}
                    {%- assign level = level | minus: 1 -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              {%- if forloop.last == true -%}
                {%- assign level = level | minus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}

        {%- comment -%} CONVERT TO ARRAYS {%- endcomment -%}
        {%- assign str_size = link_levels | size | minus: 1 -%}
        {%- assign llevels = link_levels | slice: 0, str_size | split: '|' -%}

        {%- assign str_size = link_titles | size | minus: 1 -%}
        {%- assign ltitles = link_titles | slice: 0, str_size | split: '|' -%}

        {%- assign str_size = link_handles | size | minus: 1 -%}
        {%- assign lhandles = link_handles | slice: 0, str_size | split: '|' -%}

        {%- assign str_size = link_parents | size | minus: 1 -%}
        {%- assign lparents = link_parents | slice: 0, str_size | split: '|' -%}

        {%- assign str_size = link_urls | size | minus: 1 -%}
        {%- assign lurls = link_urls | slice: 0, str_size | split: '|' -%}

        {%- assign depth = '3' -%}
        {%- assign bc3_parent_list_handle = '' %}

        {%- for url in lurls -%}
          {%- if object_urls contains url and llevels[forloop.index0] == depth -%}
            {%- unless url == product.url or url == collection.url -%}
              {%- capture bc3 -%}
              {{ ltitles[forloop.index0] | link_to: url }} - {{ lhandles[forloop.index0] }} - {{ lparents[forloop.index0] }}
              {%- endcapture -%}
              {%- assign bc3_parent_list_handle = lparents[forloop.index0] -%}
            {%- endunless -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if bc3_parent_list_handle != '' -%}
          {%- for url in lurls -%}
            {%- if object_urls contains url and llevels[forloop.index0] == '2' -%}
              {%- if bc3_parent_list_handle == lhandles[forloop.index0] -%}
                {%- unless url == product.url or url == collection.url -%}
                  {%- capture bc2 -%}
                    {{ ltitles[forloop.index0] | link_to: url }} - {{ lhandles[forloop.index0] }} - {{ lparents[forloop.index0] }}
                  {%- endcapture -%}
                {%- endunless -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}

        {%- for url in lurls -%}
          {%- if object_urls contains url and llevels[forloop.index0] == '1' -%}
            {%- unless url == product.url or url == collection.url -%}
              {%- capture bc1 -%}
              {{ ltitles[forloop.index0] | link_to: url }} - {{ lhandles[forloop.index0] }} - {{ lparents[forloop.index0] }}
              {%- endcapture -%}
            {%- endunless -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if bc1 != blank -%}
          <li class="breadcrumb-item">{{ bc1 | split: ' - ' | first }}</li>
        {%- endif -%}
        {%- if bc2 != blank -%}
          <li class="breadcrumb-item">{{ bc2 | split: ' - ' | first }}</li>
        {%- endif -%}
        {%- if bc3 != blank -%}
          <li class="breadcrumb-item">{{ bc3 | split: ' - ' | first }}</li>
        {%- endif -%}
        <li class="breadcrumb-item active text-white">{{ product.title }}</li>
      {%- when 'collection' -%}
        {%- for link in linklists['main-menu'].links -%}
          {%- if link.url == collection.url -%}
            <li class="breadcrumb-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%- endif -%}
        {%- endfor -%}
        <li class="breadcrumb-item active text-white">{{ collection.title }}</li>
      {%- when 'search' -%}
        <li class="breadcrumb-item">Search</li>
        <li class="breadcrumb-item active text-white">{{ search.performed_terms }}</li>
      {%- when 'page.contact' -%}
        <li class="breadcrumb-item active text-white">{{ page.title }}</li>
      {%- else -%}
        <li class="breadcrumb-item active text-white">{{ page_title }}</li>
    {%- endcase -%}
  </ol>
</div>

<script defer>
    const breadCrumbLinks = document.querySelectorAll(".breadcrumbs a")
    const lastLink = breadCrumbLinks[breadCrumbLinks.length - 1]
                  lastLink.href = "javascript:void(0)"
  </script>
  
  {% schema %}
  {
    "name": "Breadcrumb Navigation",
    "settings": [
      {
        "type": "header",
        "content": "Breadcrumb"
      },
      {
        "type": "checkbox",
        "id": "breadcrumbs_home_icon_bool",
        "label": "Use the home icon next to the Home link in the breadcrumb",
        "default": true
      },
      {
        "type": "select",
        "id": "breadcrumb_delimeter",
        "label": "Breadcrumb Delimeter Icon",
        "options": [
          {
            "value": "angle_right",
            "label": "Angle Right"
          },
          {
            "value": "slash",
            "label": "Slash"
          },
          {
            "value": "arrow_right",
            "label": "Arrow Right"
          },
          {
            "value": "squiggle_arrow",
            "label": "Squiggle Arrow"
          }, {
            "value": "right_long",
            "label": "Right Long"
          }, {
            "value": "double_right",
            "label": "Double Right"
          }, {
            "value": "diamond_arrow_head",
            "label": "Diamond Arrow Head"
          }, {
            "value": "heavy_angle_right",
            "label": "Heavy Angle Right"
          }
        ],
        "default": "angle_right"
      },
      {
        "type": "color",
        "id": "breadcrumb_bg_color",
        "label": "Background Color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "breadcrumb_text_color",
        "label": "Breadcrumb Color",
        "default": "#465076"
      },
    {
          "type": "checkbox",
          "id": "breadcrumb_accent_color_bool",
          "label": "Enable visited page color link in breadcrumb",
          "default": false
        }, {
          "type": "color",
          "id": "breadcrumb_accent_color",
          "label": "Visited Page Link Color",
          "default": "#4770db"
        },
    {
      "type":"checkbox",
      "id":"enable_product_page",
      "label":"Enable in Product Page"
    },
      {
      "type":"checkbox",
      "id":"enable_collection_page",
      "label":"Enable in Collection Page"
    },
       {
      "type":"checkbox",
      "id":"enable_complete_site",
      "label":"Enable on Complete Website",
      "default": true
    }
    ],
    "presets": [
      {
        "name": "Breadcrumb Navigation"
      }
    ]
  }
  {% endschema %}
  