{% if section.settings.testimonial_heading != blank -%}
  <div class="container-fluid testimonial py-5">
    <div class="container py-5">
      <div class="testimonial-header text-center">
        <h4 class="text-primary">{{ section.settings.testimonial_heading }}</h4>
        <h1 class="display-5 mb-5 text-dark">{{ section.settings.testimonial_content }}</h1>
      </div>
      <div class="owl-carousel testimonial-carousel">
        {% for block in section.blocks %}
          <div class="testimonial-item img-border-radius bg-light rounded p-4">
            <div class="position-relative">
              <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
              <div class="mb-4 pb-4 border-bottom border-secondary">
                <p class="mb-0">{{ block.settings.client_comment }}</p>
              </div>
              <div class="d-flex align-items-center flex-nowrap">
                <div class="bg-secondary rounded">
                  <img
                    src="{{block.settings.client_image | img_url: 'medium' }}"
                    class="img-fluid w-100 h-100 bg-secondary rounded"
                    alt="{{ block.settings.client_name }} "
                    width="1200"
                    height="1200"
                  >
                </div>
                <div class="ms-4 d-block">
                  <h4 class="text-dark">{{ block.settings.client_name }}</h4>
                  <p class="m-0 pb-3">{{ block.settings.client_profession }}</p>
                  {%- if section.settings.star_rating != -1 -%}
                    <div class="d-flex pe-5">
                      {%- for i in (1..5) -%}
                        {%- if i <= section.settings.star_rating -%}
                          <i class="fas fa-star text-primary"></i>
                        {%- else -%}
                          <i class="fas fa-star"></i>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif -%}
}

{% schema %}
{
  "name": "Testimonials Section",
  "enabled_on": {
    "templates": ["index","page"]
  },
  "settings": [
    {
      "type": "text",
      "id": "testimonial_heading",
      "label": "Testimonial Heading"
    },
    {
      "type": "text",
      "id": "testimonial_content",
      "label": "Testimonial Content"
    }
  ],
  "blocks": [
    {
      "type": "client_section",
      "name": "Add Client Testimonial",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Client Comment"
        },
        {
          "type": "text",
          "id": "client_name",
          "label": "Client Name"
        },
        {
          "type": "text",
          "id": "client_profession",
          "label": "Client Profession"
        },
        {
          "type": "image_picker",
          "id": "client_image",
          "label": "Client Image"
        },
        {
          "type": "range",
          "id": "star_rating",
          "min": -1,
          "max": 5,
          "label": "Star rating",
          "default": 5,
          "info": "Set to -1 to hide star rating"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Section"
    }
  ]
}
{% endschema %}
